.cta {
  border: none;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  text-align: center;
  padding: 17px 47px;
  background: transparent;
}

.cta:hover {
  cursor: pointer;
}

.corner_1 {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.corner_2 {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

.corner_3 {
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

.corner_4 {
  position: absolute;
  bottom: -2px;
  left: -2px;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}

.container {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(45deg, #62cff4 0%, #2c67f2 100%);
  z-index: 1;
}
