.title {
  color: var(--mantine-color-white);
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--mantine-font-size-sm);
}

.count {
  color: #62cff4;
  font-size: rem(32px);
  line-height: 1;
  font-weight: 700;
  margin-bottom: var(--mantine-spacing-md);
}

.description {
  font-size: var(--mantine-font-size-sm);
  margin-top: rem(5px);
}

.stat {
  flex: 1;

  & + & {
    padding-left: var(--mantine-spacing-xl);
    margin-left: var(--mantine-spacing-xl);
    border-left: rem(1px) solid #62cff4;

    @media (max-width: $mantine-breakpoint-sm) {
      padding-left: 0;
      margin-left: 0;
      border-left: 0;
      padding-top: var(--mantine-spacing-xl);
      margin-top: var(--mantine-spacing-xl);
      border-top: rem(1px) solid #62cff4;
    }
  }
}
