.root {
  background-size: cover;
  /* background-position: center;
  background-image: linear-gradient(250deg, rgba(0, 0, 0, 0) 0%, #06020c 70%),
    url(https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8&auto=format&fit=crop&w=1080&q=80); */
  padding-top: calc(var(--mantine-spacing-xl));
  padding-bottom: calc(var(--mantine-spacing-xl) * 3);

  @media (min-width: $mantine-breakpoint-md) {
    padding-top: calc(var(--mantine-spacing-xl) * 3);
    padding-bottom: calc(var(--mantine-spacing-xl) * 3);
  }
}

.inner {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
  }
}

.content {
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);

  @media (max-width: $mantine-breakpoint-md) {
    margin-right: 0;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    padding-top: var(--mantine-spacing-sm);
  }
}

.branding {
  position: absolute;
  width: 600px;
  left: 0px;
  top: 400px;

  @media (min-width: $mantine-breakpoint-sm) {
    width: 1000px;
    left: 300px;
    top: 200px;
  }

  @media (min-width: $mantine-breakpoint-md) {
    width: 1000px;
    left: 300px;
    top: 200px;
  }

  @media (min-width: $mantine-breakpoint-lg) {
    width: 1200px;
    top: 300px;

    left: 400px;
  }
}

.title {
  color: var(--mantine-color-white);
  font-family: "Horizon Outlined";
  font-weight: 900;
  line-height: 1.05;
  width: 100%;
  font-size: rem(20px);

  @media (min-width: 435px) {
    font-size: rem(24px);
  }

  @media (min-width: 480px) {
    font-size: rem(30px);
  }

  @media (min-width: 558px) {
    width: rem(500px);
  }

  @media (min-width: $mantine-breakpoint-md) {
    line-height: 1.05;
    width: rem(600px);
    font-size: rem(40px);
  }

  @media (min-width: $mantine-breakpoint-lg) {
    font-size: rem(45px);
    width: rem(700px);
  }
}

.title span {
  font-size: rem(32px);

  @media (min-width: 435px) {
    font-size: rem(38px);
  }

  @media (min-width: 480px) {
    font-size: rem(46px);
  }

  @media (min-width: $mantine-breakpoint-md) {
    font-size: rem(60px);
  }

  @media (min-width: $mantine-breakpoint-lg) {
    font-size: rem(70px);
  }
}

.description {
  color: var(--mantine-color-white);
  opacity: 0.75;
  max-width: rem(500px);
  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
  }
}
