.wrapper {
  position: relative;
}

.inner {
  position: relative;
  z-index: 1;
  padding: rem(20px);

  @media (max-width: $mantine-breakpoint-sm) {
    padding: rem(10px);
  }
}

.corner_1 {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.corner_2 {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

.corner_3 {
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

.corner_4 {
  position: absolute;
  bottom: -2px;
  left: -2px;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}
